@import "../theme.scss";

:host {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

:host([mode="design"]) {
    background: radial-gradient(ellipse at center, rgba(76,142,196,1) 0%,rgba(10,53,114,1) 100%); 
    ::slotted(svg) {
        border: 1px solid $gridline-color;
        background-color: transparent;
        
        // box-shadow: 0 0 2vmin rgba(0,0,0,0.2);
        position: relative;
        z-index: 10;
        outline: 1px solid $gridline-color;
        outline-offset: 1rem;
    }
}

:host([mode="render"]) {
    background: #f4f2f0;;
    ::slotted(svg) {
        background-color: #fafafa;
        box-shadow: 0 0 2.5rem .3rem rgba(0,0,0,0.1);
        position: relative;
        z-index: 10;

        path {
            stroke-width: 3px;
        }
    }
}