@import "../theme.scss";

$spacing: 0.75rem;

:host {
    background-color: $light-0;
    color: $dark-0;
    display: flex;
    flex-direction: column;
    position: relative;
}

:host([scrollable]) {
    overflow: none;
    .body {
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: rgba(230,230,255,0.1) transparent;
        height: 0;
        &::-webkit-scrollbar-track  {
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba(0,0,0,0.2);
        }
    }
}



:host .header {
    background-color: rgba(0,0,0,0.2);
    align-items: center;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    display: flex;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    position: relative;
    .icon {
        align-self: stretch;
        padding: 1rem;
        top: .2rem;
        position: relative;
    }
    span {
        position: relative;
        flex: 1;
        display: block;
    }
}

:host .body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    z-index: 10;
    &.active {
        flex: 1;
    }
    &:first-child {
        padding-top: $spacing;
    }
}

:host([theme="dark"]) {
    color: $light-0;
    background-color: $dark-0;

    ::slotted(ui-panel) {
        background-color: $dark-1;
        margin: 0 0.5rem 0.5rem 0.5rem;
    }
}
