@import "../theme.scss";

:host {
    background-color: red;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

ul {
    display: block;
    list-style: none;
    background-color: $dark-2;
    color: $light-0;
    margin: 0;
    padding: 0;
    width: 100%;
    li {
        z-index: 20;
        display: inline-block;
        padding: 1rem 2rem;
        position: relative;
        font-size: 1.8rem;
        border-right: 1px solid $dark-0;
        &:not(.active) {
            cursor: pointer;
        }
        &.active {
            background-color: $light-0;
            color: $dark-0;
        }
    }
}

.body {
    position: relative;
    background-color: yellow;
}

main {
    flex: 1;
    width: 100%;
    display: block;
    background-color: $light-0;
    overflow: hidden;
    position: relative;
}