$dark-0: #222222;
$dark-1: #33333E;
$dark-2: #333333;
$dark-3: #333333;
$dark-4: #333333;

$light-0: #E9E9E9;
$light-1: #DDD;
$light-2: #CCC;

$gridline-color: #ffffff33;

$font-face: 'Roboto', sans-serif;

$pink-light: #ff9ff3;
$pink-dark: #f368e0;
$yellow-light: #feca57;
$yellow-dark: #ff9f43;
$red-light: #ff6b6b;
$red-dark: #ee5253;
$cyan-light: #48dbfb;
$cyan-dark: #0abde3;
$green-light: #1dd1a1;
$green-dark: #10ac84;
$turqoise-light: #00d2d3;
$turqoise-dark: #01a3a4;
$blue-light: #54a0ff;
$blue-dark: #2e86de;
$purple-light: #5f27cd;
$purple-dark: #341f97;

$brand-color: $blue-dark;

:root {
    font-size: 62.5%;
}

::selection {
    background: $brand-color; /* WebKit/Blink Browsers */
    color: white;
}
::-moz-selection {
    background: $brand-color; /* Gecko Browsers */
    color: white;
}

