@import "variables";

:host {
    align-items: center;
    align-content: center;
    color: $dark-0;
    display: flex;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    font-size: 1.4rem;
    color: $light-0;
}

:host(:not(:first-child)) {
    margin-top: 2px;
}

:host .icon {
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #22222E;
    height: 4vmin;
    width: 4vmin;
    color: #111111;
    font-size: 1.4rem;
    text-shadow: 0 0 10px black;

    &[data-icon="M"] { color: $red-dark; }
    &[data-icon="m"] { color: $red-light; }
    &[data-icon="V"] { color: $pink-dark; }
    &[data-icon="v"] { color: $pink-light; }
    &[data-icon="H"] { color: $cyan-dark; }
    &[data-icon="h"] { color: $cyan-light; }
    &[data-icon="Z"] { color: $green-light; }
}

:host .arg {
    align-items: center;
    background-color: #CCCCFF33;
    color: #EEE;
    display: flex;
    flex: 1;
    height: 4vmin;
    margin-left: 2px;
    padding-left: 1rem;
}

:host .toggle {
    display: flex;
    padding: 1rem;
    .switch {
        background-color: red;
        display: block;
        width: 50px;
        height: 50px;
    }
}

::slotted(span) {
    align-items: center;
    color: $light-2;
    display : block;
    flex: 1;
    margin-left: 2px;
    padding-left: 1vmin;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
}