@import "variables";

:host {
    display: flex;
    height: 100%;
    width: 100%;
}

:host svg g.handles {
    circle {
        fill: white;
    }
    line {
        stroke: $blue-light;
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-dasharray: 3;
    }
    path.outer {
        fill: rgba(0,0,70,0.5);
        stroke: none;
    }
    path.inner {
        fill: $yellow-dark;
    }
    .toggle {
        fill: white;
    }
}
:host svg {
    &.design {
        g.handles circle {
            stroke: #FFFFFF30;
            stroke-width: 1.3rem;
            fill: white;
        }
        g.handles line {
            stroke: $red-dark;
            stroke-width: 0.2rem;
        }
        path {
            stroke: white;
            stroke-width: 0.1rem;
        }
    }
    &.render {
        path {
            stroke-width: 0.25rem;
        }
    }
}

pre {
    white-space: pre-line;
    margin: 20px;
}

.logo {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: $light-0;
    text-shadow: 0 0 5px rgba(0,0,0,1);
    span {
        color: $blue-light;
    }
}

