@import "variables";

:host {
    display: flex;
    height: 100%;
    width: 100%;
}

:host svg {
    background-color: #FFFFFF;
    box-shadow: 0 0 2vmin rgba(0,0,0,0.2);
    position: relative;
    z-index: 10;
}

:host([data-theme="dark"]) {
    background-color: $dark-0;
}