@import "variables";

$text-size: 1.6rem;
$padding: 1rem;

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    -moz-appearance: textfield;
}

:host {
    align-items: center;
    align-content: center;
    color: $dark-0;
    display: flex;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    font-size: $text-size;
    color: $light-0;
    border-bottom: 1px solid $dark-0;
}

:host .icon {
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #22222E;
    height: 4vmin;
    width: 4vmin;
    color: #111111;
    font-size: 1.4rem;
    text-shadow: 0 0 10px black;

    &[data-icon="M"] { color: $red-dark; }
    &[data-icon="m"] { color: $red-light; }
    &[data-icon="V"] { color: $pink-dark; }
    &[data-icon="v"] { color: $pink-light; }
    &[data-icon="H"] { color: $cyan-dark; }
    &[data-icon="h"] { color: $cyan-light; }
    &[data-icon="Z"] { color: $green-light; }
}

:host .arg {
    align-items: center;
    background-color: #CCCCFF33;
    color: #EEE;
    display: flex;
    flex: 1;
    height: 4vmin;
    margin-left: 2px;
    padding-left: 1rem;
}

:host .number {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    span {
        display: block;
        flex: 1;
        padding: 0 $padding;
        text-align: right;
    }
    span, div, input {
        display: block;
        flex: 0 0 50%;
    }
    input {
        color: $light-0;
        background-color: $dark-0;
        border: 0;
        padding: $padding;
        font-size: $text-size;
        outline: none;
    }
}

:host .checkbox {
    align-items: center;
    display: flex;
    padding: $padding;
    width: 100%;
    cursor: pointer;
    span {
        flex: 1;
        padding-left: $padding;
    }
    .toggle {
        display: block;
        height: 1.8rem;
        width: 3.6rem;
        background-color: #292932;
        position: relative;
        border: 2px solid #292932;
        &::before {
            content: ' ';
            background-color: $green-dark;
            
            background: rgb(76,167,54);
            
            display: block;
            height: 1.8rem;
            width: 1.8rem;
            position: absolute;
            box-shadow: 0 0 0.5rem 0 $green-light;
            box-shadow: left 0.1s linear;
        }
        &::after {
            z-index: 10;
            position: absolute;
            top: 0;
            left: 0;
            content: ' ';
            background-color: $dark-2;
            display: block;
            height: 1.8rem;
            width: 1.8rem;
            position: absolute;
            transition: left 0.1s linear;
        }
    }
    .toggle.true::after {
        left: 50%;
    }
    .toggle.false::before {
        box-shadow: 0 0 0 0 $blue-light;
    }
}

// Error state for numeric input
:host input:invalid {
    outline: none;
    box-shadow: none;
    color: $red-light;
    background-color: darken($red-dark, 30%);
}

::slotted(app-button) {
    margin: 0.5rem;
}

::slotted(app-button:not(:first-of-type)) {
    margin-left: 0;
}


::slotted(span) {
    align-items: center;
    color: $light-2;
    display : block;
    flex: 1;
    padding: 0 1vmin;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}